.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 709px;
  left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  left: 80px;
}

.header__image {
  display: flex;
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  color: #838383;
}

.header__timetable {
  position: absolute;
  left: 80px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  margin: 0;
}

.header__address {
  position: absolute;
  margin-top: auto;
  right: 80px;
  bottom: 40px;
}

.recipes {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 0;
  margin: 0 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 80px 0 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 450px;
  height: 230px;
}

.recipes__video-item {
  margin: 0;
  padding: 0;
}

.form {
  max-width: 385px;
}

.reservation {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0px auto 80px;
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto 120px;
}

.form__label {
  display: inline;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 32px;
}

.form__input {
  border-radius: 4px;
  margin: 0 0 32px;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  border-color: #838383;
}

.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.form__item-lable {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__fieldset_el_center {
  display: flex;
  justify-content: center;
}

.form__button {
  max-width: 385px;
  padding: 0 100px;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  background-color: #2f80ed;
  color: #fff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__lable-terminos {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__lable_container-terminos {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
}
